# compiled output
r-omni/dist
r-omni/node_modules
r-omni/build

# Logs
r-omni/logs
r-omni/*.log
r-omni/npm-debug.log*
r-omni/pnpm-debug.log*
r-omni/yarn-debug.log*
r-omni/yarn-error.log*
r-omni/lerna-debug.log*

# OS
r-omni/.DS_Store

# Tests
r-omni/coverage
r-omni/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
r-omni/.env
r-omni/.env.development.local
r-omni/.env.test.local
r-omni/.env.production.local
r-omni/.env.local

# temp directory
r-omni/.temp
r-omni/.tmp

# Runtime data
r-omni/pids
r-omni/*.pid
r-omni/*.seed
r-omni/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
r-omni/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
